{{> header}}

<h1>{{title}}</h1>

<h2>Latest data, received at {{savedAt}}:</h2>
<h3>Temperature: {{temperature}}°C</h3>
<h3>Humidity: {{humidity}}%</h3>
<h3>Air pressure: {{pressure}}hPa</h3>
<h3>Read at: {{createdAt}}</h3>



{{> footer}}